@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root
{
    --bg-one: rgb(34, 37, 44);
    --bg-two: rgb(24, 26, 31);
    --color-one: rgb(66, 66, 77);
    --color-two: rgb(225, 225, 225);
    --color-three: #32a877;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    /* overflow: hidden; */
}

.header
{   
    width: 100%;
    height: 60px;
    padding: 0 50px;
    background: var(--bg-two);
    color: var(--color-two);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.header__title
{
    align-self: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.header__option
{
    width: 50px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__option i
{
    font-size: 1.7rem;
}

.main
{
    width: 100%;
    height: calc(100vh - 60px);
    padding-top: 10px;
    background: var(--bg-one);
}

.main .row-1
{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}

.main .row-1 .box
{
    width: 170px;
    height: 170px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: var(--color-one);
    border-radius: 10px;
}

.row-1 .box .box__top
{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row-1 .box__top .icon
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40px;
    height: 100%;
    color: var(--color-two);
    cursor: pointer;
}

.row-1 .box__top .box-subtitle
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    color: var(--color-two);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.footer
{
    width: 100%;
    height: 60px;
    position: sticky;
    bottom: 0;
    background: var(--bg-two);
}

.footer .list-ico
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    color: var(--color-two);
}

.footer .list-ico .ico span
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.footer .list-ico .ico .ico__plus
{
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    border-radius: 50%;
    background: var(--color-three);
}