@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root
{
    --bg-one: rgb(34, 37, 44);
    --color-one: rgb(66, 66, 77);
    --color-two: rgb(225, 225, 225);
    --color-three: #32a877;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    overflow: hidden;
}

.header
{   
    width: 100%;
    height: 60px;
    padding: 0 50px;
    background: var(--bg-one);
    color: var(--color-two);
    display: flex;
    justify-content: space-between;
}

.header__title
{
    align-self: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.header__option
{
    width: 50px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__option i
{
    font-size: 1.7rem;
}

.main
{
    width: 100%;
    height: calc(100vh - 60px);
    padding-top: 10px;
    background: var(--bg-one);
}

.main .row-1
{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}

.main .row-1 .box
{
    width: 170px;
    height: 170px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: var(--color-one);
    border-radius: 20px;
}